.toolbar {
	min-height: 40px;
	text-align: left;
}

.toolbar > div {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 40px;
	font-family: "CMU Typewriter Text", sans-serif;
	vertical-align: top;
}

.toolbar > div:not(:first-child) {
	margin-left: 16px;
}

.toolbar > .toolbar-btn {
	font-size: 22.5px;
	cursor: pointer;
}

.toolbar > .toolbar-btn-icon.hidden {
	display: none;
}

.toolbar > .toolbar-btn-view.active {
	text-decoration: underline;
}

.toolbar > .toolbar-btn.toolbar-btn-icon {
	width: 40px;
	background-size: 30px 30px;
	background-position: center center;
	background-repeat: no-repeat;
}

.toolbar > .toolbar-btn.toolbar-btn-icon:not(.toolbar-btn-new) {
	margin-left: 0;
}

.toolbar > .toolbar-btn.toolbar-btn-new {
	background-image: url(ic_new.svg);
}

.toolbar > .toolbar-btn.toolbar-btn-browse {
	background-image: url(ic_browse.svg);
}

.toolbar > .toolbar-btn.toolbar-btn-save {
	background-image: url(ic_save.svg);
}

.toolbar > .toolbar-btn:hover {
	text-decoration: underline;
}
